<div class="content">
    <div class="row">
        <div class="col-lg-6 col-md-8 offset-lg-3 offset-md-2 tyc-panel">
            <div class="terminos-y-condiciones">
                <h1>Condiciones generales del servicio</h1>
                <p>
                    Todas las condiciones aquí expresadas son de obligatorio cumplimiento para poder utilizar nuestros
                    servicios,
                    NinjaBot en adelante nosotros, nos, la empresa, la plataforma o cualquier otro adjetivo que exprese
                    propiedad
                    nos reservamos los derechos sobre las cuentas que se consignan en nuestras bases de datos, los datos
                    serán tratados
                    bajo todos los protocolos de seguridad posibles para manejar su información personal con
                    responsabilidad, en caso de
                    querer solicitar el cierre de su cuenta debe enviar un email a soporte@ninjabot.com.co con su
                    fotografía y cédula, las cuales
                    serán tratadas con la mayor discreción y no venderemos ni compartiremos su información personal con
                    ningún tercero.
                </p>

                <p>
                    Al utilizar nuestros servicios usted entiende que NinjaBot no es afiliado a la empresa Ankama y
                    que no hace parte de ninguna de sus filiales, además de que el uso de bots puede traer suspenciones
                    permanentes a las cuentas donde se usa esta herramienta al no ser aceptada por los terminos y
                    condiciones de sus videojuegos.
                </p>

                <p>
                    Nos reservamos el derecho sobre las cuentas que se crean en NinjaBot, el uso indebido del software puede
                    y será penalizado con la suspención temporal o definitiva de su cuenta, este es un software netamente académico
                    y que busca entender como funciona la ingeniería inversa aplicada a la web.
                </p>

                <p>
                    Nos reservamos el funcionamiento interno y los códigos fuente bajo derechos de propiedad intelectual y los cuales
                    han sido desarrollados para el correcto funcionamiento de este software
                </p>

                <p>
                    Nos reservamos el derecho a cerrar el proyecto en cualquier momento sin posibilidades de devoluciones de ningún tipo
                    exceptuando lo estipulado por la ley nacional de protección al consumidor.
                </p>

                <p>
                    Este no es un proyecto publico y nos reservamos también el derecho de admisión. Si tiene cualquier inquietud, por favor
                    comuníquese con soporte@ninjabot.com.co
                </p>

                <div class="center">
                    <button class="btn btn-primary" [routerLink]="['/']" >Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>