<div class="content">
    <div class="row">
        <div class="col-lg-6 col-md-8 offset-lg-3 offset-md-2 login-panel">
            <form class="form-login col-12 col-lg-8" #formRegister>
                <h1>Olvidé mi contraseña</h1>
                <hr>
                <div class="row">
                    <div class="form-group col-12">
                        <label for="email"><i class="fi-sr-users"></i> Cuenta (email)</label>
                        <input type="email" class="form-control" id="email" required>
                    </div>

                    <div class="form-group col-12">
                        <label for="tel"><i class="fi-sr-smartphone"></i> Teléfono</label>
                        <input type="tel" class="form-control" id="tel" required>
                    </div>
                </div>

                <hr>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="center">
                            <button type="submit" class="btn btn-primary">Solicitar</button>
                        </div>
                    </div>
    
                    <div class="col-sm-12 col-md-6">
                        <div class="center">
                            <div class="btn btn-success" routerLink="register" [routerLink]="['/auth/login']">Volver al login</div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>